

*{
	box-sizing: border-box;
	font-family: Bankgothic;
}





.main-container  {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: 40% 40%;
	grid-gap: 1em
} 

.grid-part {
		padding: 0 0 100px 150px;
}


body{
	background-image:url("images/stars.jpg");
}
h1 { 
	text-align: center;
	font-size: 4em;
	color: #153E5A; 
} 

.header {
	text-align: center;
	font-size: 2.5em;
	color: #153E5A;
	padding: 0;
}
table {
	border-collapse: collapse;
	background-image: linear-gradient(175deg, #153E5A, #3C9DD1); 

}

table th {
	font-size: 3em;
	text-align: left;
	color: #FDFEF8;
	padding: 2px 15px 2px 4px;
	border: 1px solid #153E5A;
}

table td {
	font-size: 2.25em;
	padding: 1px 4px; 
	color: #AAA9AD;
	border: 1px solid #153E5A;

}

 

